<a routerLink="/menu/new-game/select-hero/confirm-selection">
<div class="maind-block-select-hero">
        <button class="selectHero" id="first-box" (mouseover)="playSoundKatana()" (click)="playVoiceLeonardo()"></button>
        <button class="selectHero" id="second-box" (mouseover)="playSoundStick()" (click)="playVoiceDone()"></button>
        <button class="selectHero" id="third-box" (mouseover)="playSoundSai()" (click)="playVoiceRaphe()"></button>
        <button class="selectHero" id="fourth-box" (mouseover)="playSoundNunchucks()" (click)="playVoiceMicke()"></button>
</div>
</a>

