.maind-block-select-hero {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 660px;
    width: 1525px;
}

.selectHero {
    height: 590px;
    width: 300px;
    background-color: #000000ad;
    border-radius: 15px;
    border: 2px solid #3c76ff;
    cursor: pointer;
    transition: transform 0.1s;
}

.selectHero:hover {
    transform: scale(1.05);
}

#first-box {
    background-image: url('../../assets/img-slot/leo.png');
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;

}

#first-box:hover{
    background-image: url('../../assets/img-slot/leo-2.png');
    background-size: cover;
    background-position: -85px;
    background-repeat: no-repeat;
}

#second-box {
    background-image: url('../../assets/img-slot/Done.png');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;

}

#second-box:hover{
    background-image: url('../../assets/img-slot/Done-2.png');
    background-size: cover;
    background-position: -135px;
    background-repeat: no-repeat;
}

#third-box {
    background-image: url('../../assets/img-slot/raphael.png');
    background-size: cover;
    background-position: -300px;
    background-repeat: no-repeat;

}

#third-box:hover{
    background-image: url('../../assets/img-slot/raphael-2.png');
    background-size: cover;
    background-position: -300px;
    background-repeat: no-repeat;
}

#fourth-box {
    background-image: url('../../assets/img-slot/Micke.png');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;

}

#fourth-box:hover{
    background-image: url('../../assets/img-slot/Micke-2.png');
    background-size: cover;
    background-position: -85px;
    background-repeat: no-repeat;
}