<div class="main-block-newgame">
    <div class="save-game-text">
        Save game
    </div>  
    <a routerLink="/menu/newGame/confirm">
    <div class="block-savegame">
            <button class="newgame" (mouseover)="playHover()" (click)="saveData(slot)" *ngFor="let slot of slots">
                {{slot.saveData}}
                <div *ngIf="slot.saveData != null">
                    <h1>Slot {{slot.slotId}}</h1>
                    <p>Blank</p>
                    {{slot.saveData}}
                </div>
                <div *ngIf="slot.saveData == null">
                    <img [src]="hero" alt="">
                </div>
            </button>

    </div>   
</a>
</div>
