<div class="main-block-newgame">
    <div class="save-game-text">
        Save game
    </div>  
    <a routerLink="/confirm">
    <div class="block-savegame">
            <button class="newgame" (mouseover)="playHover()" (click)="playClick()">
                <h1>Cell 1</h1>
                <p>Blank</p>
            </button>
            <button class="newgame" (mouseover)="playHover()" (click)="playClick()">
                <h1>Cell 2</h1>
                <p>Blank</p>
            </button>
            <button class="newgame" (mouseover)="playHover()" (click)="playClick()">
                <h1>Cell 3</h1>
                <p>Blank</p>
            </button>
            <button class="newgame" (mouseover)="playHover()" (click)="playClick()">
                <h1>Cell 4</h1>
                <p>Blank</p>
            </button>
        
    </div>   
</a>
</div>
