<div class="main-confirm-selection-block">
    <div class="first-confirm-selection-block">
        <div>Confirm your selection hero</div>
    </div>
    <div class="second-confirm-selection-block">
        <a routerLink="/menu/new-game/select-hero/screen">
            <button class="button-confirm" (click)="playSound()">Confirm</button>
        </a>
       <a routerLink="/menu/new-game/select-hero">
        <button class="button-confirm" (click)="playClose()">Cancel</button>
       </a>       
    </div>
</div>