.main-block {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 671px;
    width: 1536px;
    background-color: #000000a1;
}

.exit {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 500px;
    width: 500px;
    background-color: #693234cf;
    border-radius: 15px;
}

.first-block-exit {
    display: flex;
    justify-content: center;

}

.second-block-exit {
    display: flex;
    justify-content: space-around
}

.button-exit {
    background-color: #e00606e6;
    height: 60px;
    width: 150px;
    cursor: pointer;
    transform: skew(15deg);
}

.button-exit:hover {
    color: white;
    background-color: #ee2c2c;
    box-shadow: 10px 10px 100px 6px rgb(225, 58, 20);
}

.text-exit {
    display: flex;
    font-size: 44px;
    width: 311px;
    height: 100px;
    border-radius: 15px;
    background-color: #ff4e4e;
    justify-content: center;
    align-items: center;
}
