<div class="main-block">
    <div class="exit">
        <div class="first-block-exit">
            <div class="text-exit">
                Are you sure?
            </div>
        </div>
        <div class="second-block-exit">
            <a routerLink="/menu">
                <button class="button-exit" (mouseover)="playHover()" (click)="playClose()">
                    <span>cancel</span>
                </button>
            </a>        
            <a href="https://www.google.com/">
                <button class="button-exit" (mouseover)="playHover()">
                    <span>exit</span>
                </button>
            </a>          
        </div>       
    </div>
</div>