
<asl-google-signin-button *ngIf="!user"></asl-google-signin-button>

<div *ngIf="user">
    <img src="{{ user.photoUrl }}" referrerpolicy="no-referrer">
    <div>
      <h4>{{ user.name }}</h4>
      <p>{{ user.email }}</p>
    </div>
</div>

<app-header-menu></app-header-menu>
<router-outlet></router-outlet>
<audio  type="audio/mpeg" src="assets/audio/tmnt.mp3" autoplay="autoplay" loop="loop"  [volume]="0.08"></audio>

<a routerLink="/newGame"></a>
<a routerLink="/loadGame"></a>
<a routerLink="/options"></a>
<a routerLink="/details"></a>
<a routerLink="/exit"></a>




