<div class="google-icon">
    <div id="g_id_onload"
     data-client_id="871206189901-i8rjf5jqb9kpk8kmlue74tjs02kik6gk.apps.googleusercontent.com"
     data-context="use"
     data-ux_mode="popup"
     data-login_uri="/menu"
     data-auto_select="true"
     data-itp_support="true">
</div>

<div class="g_id_signin"
     data-type="icon"
     data-shape="circle"
     data-theme="filled_blue"
     data-text="signin"
     data-size="large">
</div>
</div>

<!-- <router-outlet></router-outlet> -->

<div class="parent">
    <div class="menu">
        <a routerLink="/menu/new-game/select-card">
            <button class="app-main-menu-button-box" (mouseover)="playHover()" (click)="playSound()">
                New Game
            </button>
        </a>
        <a routerLink="/menu/loadGame">
            <button class="app-main-menu-button-box"
            [ngClass]="{'active-button': !isDisabledButton, 'disabled-button': isDisabledButton}"
            [disabled]="isDisabledButton" 
            (mouseover)="playHover()" 
            (click)="playSound()">
                Load Game
            </button>   
        </a>
        <a routerLink="/menu/options">
            <button class="app-main-menu-button-box" (mouseover)="playHover()" (click)="playSound()">
                Options
            </button>
        </a>
        <a routerLink="/menu/details">
            <button class="app-main-menu-button-box" (mouseover)="playHover()" (click)="playSound()">
                Details
            </button>
        </a>
        <a routerLink="/menu/exit">
            <button class="app-main-menu-button-box" (mouseover)="playHover()" (click)="playSound()">
                Exit
            </button>
        </a>
    </div>
</div>



