
<div class="parent">
    <div class="menu">
        <a routerLink="/newGame">
            <button class="app-main-menu-button-box" (mouseover)="playHover()" (click)="playClick()">
                New Game
            </button>
        </a>
        <a routerLink="/loadGame">
            <button class="app-main-menu-button-box" (mouseover)="playHover()" (click)="playClick()">Load Game</button>
        </a>
        <a routerLink="/options">
            <button class="app-main-menu-button-box" (mouseover)="playHover()" (click)="playClick()">Options</button>
        </a>
        <a routerLink="/details">
            <button class="app-main-menu-button-box" (mouseover)="playHover()" (click)="playClick()">Details</button>
        </a>
        <a routerLink="/exit">
            <button class="app-main-menu-button-box" (mouseover)="playHover()" (click)="playClick()">Exit</button>
        </a>
    </div>
</div>

