.parent{
    display:flex;
    align-items: center;
    height: 93vh;
}

.menu {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    height: 400px;
    width: 300px;
    justify-content: space-between;
}

.app-main-menu-button-box {
    background-color: #ebc827e6;
    height: 60px;
    width: 300px;
    cursor: pointer;
    transform: skew(15deg);
    transition: transform 0.1s;
    /* background-image: url('../../assets/33.png'); */
    /* background-size: 50px auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
}

.app-main-menu-button-box:hover {
    color: white;
    background-color: #b9e769;
    box-shadow: 10px 10px 100px 6px rgba(185, 231, 105, 1);
    transform: scale(1.05) skew(15deg);    
}

.active-button:hover {
    color: white;
    background-color: #b9e769;
    box-shadow: 10px 10px 100px 6px rgba(185, 231, 105, 1);
    transform: scale(1.05) skew(15deg); 
}

.disabled-button {
    background-color: #ccc;
    color: #666;
    cursor: auto;
}

.disabled-button:hover {
    background-color: #ccc;
    color: #666;
    box-shadow: none;
    transform: skew(15deg);
}


.menu-open {
    display: none;
  }

  .google-icon{
    position: absolute;
    top: 4px;
    right: 18px;
  }