.main-block {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 660px;
    width: 1525px;
}

.details {
    height: 550px;
    width: 1200px;
    background-color: #838330cf;
    border-radius: 15px;
}